/*** Showcase Portfolio Styles ***/
.portfolio-container {
	margin: 0px auto;
	max-width: 100%;
}
ul.portfolio-list {
	float:left;
	list-style: none; 
}
ul.portfolio-list li {
	float: left;
	display: inline-block;
	margin-right: 20px;
	padding-top: 10px;
	width: 300px;
}
ul.portfolio-list li img {
	border: 3px solid #000;
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
ul.portfolio-list li img:hover {
	border: 3px solid #FF0000;
}
ul.portfolio-list li a {
	color: #000;
}
ul.portfolio-list li a:hover {
	color: #FF0000;
	text-decoration: none;
}
ul.portfolio-list li h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}
ul.portfolio-list li p {
	font-size: 14px;
}

/*** PORTFOLIO FILTER STYLE  ***/

#portfolio-filter {
	list-style-type: none;
}

#portfolio-filter li {
	display: inline;
	padding-right: 10px;
}

#portfolio-filter li a {
	color: #777;
	text-decoration: none;
}

#portfolio-filter li .current,
#portfolio-filter li:hover {
	color: #084a9a;
}

/*** Single Page Portfolio Styles Specific ***/
.portfolio-page {
	min-height: 500px;
	padding-top: 100px;
}
.column-1 {
	clear: both;		
}
ul.portfolio-list li.column-3 {
	margin-right: 0;
	width: 300px;
}


/*** Single Item Portfolio Styles Specific ***/
.portfolio-single {
	margin: 0px auto;
	padding-top: 100px;
}
.portfolio-single h3 {
	font-size: 18px;
	font-weight: bold;
}
.portfolio-single img {
	border: 3px solid #000;
	margin-bottom: 30px;
}
.portfolio-single p {
	font-size: 14px;
}
a.button {
	background: #ce5144;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 60px;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
}
a.button:hover {
	color: #ffff00;
	text-decoration: none;
}

/* Pagination Style credits to http://www.hudku.com/blog/add-numbered-page-navigation-wordpress-plugin/ */
.pagination {
	clear: both;
	margin: 20px 0;
	padding-top: 20px;
}
.pagination ul {
	display: inline-block;
	margin-left: 0;
	margin-bottom: 0;
	border-radius: 5px;
}
.pagination ul>li {
	display: inline;
}
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
	border-left-width: 1px;
	border-radius: 5px 0 0 5px;
}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
	border-rigth-width: 1px;
	border-radius: 0 5px 5px 0;
}
.pagination ul>li>a, .pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
}